# -------------------------------------------------------------------------------------------------
# Gitignore file, create in 07/09/2024
# Author: Valdigleis (Dk4LL) - dk4ll@proton.me
# Mail: dk4ll@proton.me
# -------------------------------------------------------------------------------------------------

# Ignorar os seguintes diretórios!
autoload/
plugged/





